@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800");

@import url("fontawesome-all.min.css");
* {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;

  
}
h1{
  font-size: 90px;
}
h2{
  font-size: 30px;
}
/* Base styles */
.homepage {
  background-color: #F0F9E7 ;

  font-optical-sizing: auto;
  font-weight: 1em;
  font-style: normal;
}


#header-wrapper{
  height: 100vh;
  background-color: #F0F9E7 ;
  

}

.inner {
  display: flex;
  justify-content: right;
  margin-right: 5%;

}

#header-intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.intro{
  display: inline-block;
}

.profile{
  margin-right: 12%;
  margin-top: -10%;
  
}
.description{
  margin-left: 5%;
}
.profile img{
  border-radius: 40%;
  height:450px;
  width: 250px;
}





/* Navbar */
#nav {

  border-radius: 25px;
  height: 50px;
  display: flex; 
  align-items: center;
  justify-content: right;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#nav ul {
  display: flex;
  justify-content: right;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav li {
  margin: 0 10px;
}

#nav a {
  padding: 10px;
  color: black;
  text-decoration: none;
}



#nav a.active,  #nav a:hover {
  color: white;
  background: black;
  border-radius: 15px;
  padding: 10px;
}






.button {
  display: inline-block; 
  align-items: center;

}

.header-button{
  display: inline-block; 
  align-items: center;

}

.button-contact {
  
  margin-top: 10px;
  margin-right: 20px;
  padding: 4px 8px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  display: inline-block;
  align-items: center;
  height: 40px;
  
}
.resume{
  background-color: #D28F8C;
  
}
a.resume{
  padding-top: 9px;
}
.github img{
  max-height: 40px;
  max-width:40px;
}
.github{
  vertical-align: -30px;


}
.linked-in img{
  max-height: 40px;
  max-width:40px;
}
.linked-in{
  vertical-align: -30px;

}


#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.contactMe{
  display: flex;
  flex-direction: column;
  Margin: none;
}

.contactMe h1,.contactMe p {
  display: flex;
  justify-content: center;
}

.email input{
  height: 50px;
  width: 600px;
  border-radius: 10px;

  text-align: center;
  padding: 0;

}



.message input{
  height: 300px;
  width: 600px;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
  padding: 0;
  
  
  
  
}

button{
  padding: 5px;

}
.submit-button{
  display: flex;
  justify-content: center;
  
}

.skill-scroll{
  display:flex;
  justify-content: center;
  
}
.skills{
  background-color: black;
  border-radius: 25px;
  padding-left: 3%;
  padding-right: 3%;
}
.skills li{
  color: white;
  display: inline-block;
  font-size: 25px;
  margin: 12px;
  
}

